.video__iframe {
    width: 515px;
    height: 315px;
    border-width: 0;
    margin-top: 50px;
}

.video__iframe:nth-of-type(1n) {
    padding-right: 20px;
}

.video__iframe:nth-of-type(2n) {
    margin: 0;
    padding: 0;
}