.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* parameters for the header section */
}

.header__title {
    max-width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    padding: 0;
    position: absolute;
    left: 64px;
    margin: 0;
    padding: 0;
}

.header__subtitle {
    font-weight: normal;
    text-align: left;
    line-height: 25px;
    font-size: 18px;
    position: absolute;
    max-width: 388px;
    left: 64px;
    bottom: 30px;
    padding: 0;
    margin: 0;
}

.header__link {
    font-weight: normal;
    line-height: 25px;
    font-size: 18px;
    color: #2f80ed;
    width: 388px;
    text-decoration: none;
}

.logo_place_header {
    position: absolute;
    width: 154px;
    height: 31px;
    left: 64px;
    top: 30px
}

.header__main-illustration {
    bottom: 0;
    right: 0;
    position: absolute;
    padding-bottom: 0;
    margin-top: auto;
    width: 756px;
    height: 608px;
    z-index: -1;
}


/* here we have two examples of selectors in order to remind you how to set styles for elements */

.header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    right: 0;
    top: 64px;
    background-color: #2f80ed;
    z-index: -1;
}


/* Part 2 */

.two-columns {
    display: flex;
    justify-content: space-between;
    color: black;
    min-width: 784px;
    max-width: 80%;
    margin: 100px auto;
}

.two-columns__brief {
    max-width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    padding: 0;
    margin: 0;
}

.two-columns__main-text {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    max-width: 80%;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    flex-direction: column;
}

.two-columns__paragraph:first-child {
    padding: 0 0 30px 0;
    margin: 0;
}

.two-columns__paragraph:nth-child(2) {
    padding: 0 0 30px 0;
    margin: 0;
}

.two-columns__paragraph:last-child {
    padding: 0;
    margin: 0;
}

.two-columns__span-accent {
    font-weight: bold;
    color: black;
}


/*THIRD PART*/

.digits {
    margin: 100px 0;
}

.section-title {
    padding: 0;
    margin: 0 auto;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    max-width: 60%;
}

.section-subtitle {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    padding: 20px 0 0 0;
    margin: 0 auto;
    text-align: center;
    max-width: 60%;
}

.table {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 100px;
    padding: 0;
    box-sizing: border-box;
}

.table__cell {
    max-width: 250px;
    list-style-type: none;
    padding-top: 60px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 20px 0 0 0;
}


/*PART 4*/

.feynman {
    position: relative;
    min-height: 790px;
    color: black;
    text-align: center;
    z-index: 1;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.feynman__image {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 867px;
    height: 637px;
}

.feynman__title {
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    max-width: 775px;
    margin: 0 auto;
    padding: 100px 0 0 0;
}

.feynman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 0 auto;
    padding: 70px 0 0 0;
}

.feynman__link {
    position: absolute;
    right: 64px;
    top: 50%;
    color: #2f80ed;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
}


/*PART 5*/

.kaufman {
    position: relative;
    overflow: hidden;
    background-color: #1f1f1f;
    padding: 90px 0;
    z-index: 1;
    margin: 0;
    box-sizing: border-box;
    color: #f2f2f2;
}

.section-title_theme_dark {
    max-width: 60%;
    padding: 0;
    margin: 0 auto;
}

.section-subtitle_theme_dark {
    max-width: 60%;
    padding: 20px 0 0 0;
    margin: 0 auto;
}

.table__heading_theme_dark {
    padding: 80px 0 0 0;
}

.table_theme_dark {
    margin: 0 auto 90px;
}

.table__cell_theme_dark {
    padding: 0;
    margin: 0;
    width: 200px;
}

.kaufman__triangle {
    position: absolute;
    top: 0;
    right: -124px;
    width: 660px;
    height: 636px;
    background-image: url("../images/kaufman-triangle.svg");
    z-index: -1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #1f1f1f;
    box-sizing: border-box;
    display: flex;
    color: white;
    padding: 60px 0 40px;
    margin: 0;
    min-height: 350px;
}

.footer__columns {
    min-width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo_place_footer {
    width: 183px;
    height: 35px;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__author {
    color: white;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 18px 0;
}

.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.footer__column-links {
    margin: 20px 0;
}

.footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
}

.footer__social-icons {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}